*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --green-- : #056b1f;
    --white--: #fff;
    --black--: #000;
    --grey--: #333;
}
header{
    /* background-image: linear-gradient(#056b1f,#fff,#333,#056b1f); */
    width: 100vw;
    height: 7.5rem;
    padding: 10px 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: var(--green--);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    line-height: 1.5rem;
}